body {
    background-color: steelblue;
}

img {
    height: 80px;
}

.card {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.btn {
    border: none;
    outline: none;
    background: #764abc;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #513282;
}

.heading {
    padding: 25px 0;
}

.cart-count {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 40px;
}

